{
  "SUPABASE_URL": "https://lulsevjkiyaaniuybosk.supabase.co",
  "SUPABASE_ANON_KEY": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx1bHNldmpraXlhYW5pdXlib3NrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYzMDUxNjAsImV4cCI6MjA5MTg4MTE2MH0.AXZV_jDsI_hUqqMxoOVEbO41aLuKUe-TjC5z8ow6r_w"
}
